<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Flask Simple List App</title>
</head>
<body>
    <h1>Welcome to Listy</h1>
    
    <p>"Never put off until tomorrow what you can do today"</p>
    
    <p>Login now to kickstart your day!</p>
    <form action="/login">
        <input type="text" name="username"/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>