<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Flask Simple List App</title>
</head>

<body>
    <div class="container-fluid content_bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Hello {{ logged_in_as }}</h1>
                <p> Let's get listing</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 ">
                <div class = "new_list">
                <form action="/new_list" method="POST">
                    <input type="text" name="namelist" placeholder="New List" />
                    <input type="hidden" name="username" value="{{logged_in_as}}" />
                    <input type="submit" value="Create New List" />
                </form>
                </div>
                </div>
</div>
</div>


 <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 ">

                {% for list_name in list_of_keys %}
                <form action="/show_items" method="POST">

                    <ul>

                        <input type="hidden" name="username" value="{{logged_in_as}}" />
                        <input type="hidden" name="list_name" value="{{list_name}}" />
                        <li class="list-group-item"><input class= list_name_title type="submit" value="{{list_name}}" />
                        </li>
                    </ul>
                </form>
                {% endfor %}


           



            <ul>
                {% for items in list_of_items %}
                <li class="list-group-item">{{items}}</li>
                {% endfor %}
            </ul>

 </div>
        </div>
    </div>
    
    <button class="btn"><a href="/">Switch User</a></button>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </div> 
</body>

</html>
